@tailwind base;
@tailwind components;
@tailwind utilities;

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.info {
  background: rgba(0, 0, 255, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}